@import '../../style//variables';

.layout-container {
  height: 100%;

  // logo
  .logo {
    padding: 16px;
    line-height: 32px;
    color: map-get($colors, 'white');
    font-size: map-get($fontSizes, '16');
    background: #000;

    .icon {
      vertical-align: middle;
      font-size: map-get($fontSizes, '36');
      margin-right: 10px;
    }
  }
  // 面包屑
  .trigger {
    float: left;
    font-size: map-get($fontSizes, '18');;
    line-height: 64px;
    padding: 0 12px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #1890ff;
    }
  }
  // 右上角
  .header-right {
    float: right;
    position: relative;
  }
  .btn-user {
    padding: 4px 8px;
  }
  .layout-header {
    padding: 0;
    border:0;
    border-bottom: 1px solid map-get($colors, 'light-grey');
  }
  .layout-nav {
    float: left;
    line-height: 64px;
  }
  .layout-content--info {
    padding: 15px;
    min-height: calc(100% - 86px);
  }
}